name: SimpleSigning demo

on:
  workflow_dispatch:

jobs:
  build-and-sign:
    name: build and sign with signum
    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libcurl4-gnutls-dev curl libssl-dev automake autoconf libtool
        sudo apt autoremove -y

    - uses: actions/checkout@v2

    - name: clean and build
      run: |
        make clean
        make opentest
        
    - name: sign
      run: |
        curl --cacert certs/it-ss01-pkihosted-dev-c2company-com-chain.pem -F "workerName=PlainSigner" -F "file=@./agent" \https://it-ss01.pkihosted-dev.c2company.com/signserver/process > agent.sig
        
    - name: commit signature + binary #todo make this a release
      run: |
        mkdir signature
        mv agent signature/.
        mv agent.sig signature/.
        git add signature/agent
        git add signature/agent.sig
        git commit -m "automated signature"
        git push
        
